
/* navigation */
.navbar {
    background-color: #ccc;
}
.spn {
    background-color: rgba(11, 11, 187, 0.916);
}
.navbar-brandtext-uppercase {
   color: rgba(11, 11, 187, 0.916);
}

.img1 {
    border-radius: 30px;
    box-shadow: 0 0 6px #0b58cc;
}

/* navigation */


/* icon */
.fb {
    font-size: 20px;
}
/* icon */
